!!! 5
%html
  %head
    %title Picloud
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js", :charset => "utf-8"}
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", :charset => "utf-8"}
    %script{:type => "text/javascript", :src => "http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js", :charset => "utf-8"}
    %script{:type => "text/javascript", :src => "/js/app.js", :charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "/css/master.css", :type => "text/css", :media => "screen"}
  %body
    #dropbox
      #preview_alt Drop Image here
      %img#preview
      #errors
    #playlist
