<!DOCTYPE HTML>
<!--
/*
* jQuery File Upload Plugin HTML Example 5.0.7
* https://github.com/blueimp/jQuery-File-Upload
*
* Copyright 2010, Sebastian Tschan
* https://blueimp.net
*
* Licensed under the MIT license:
* http://creativecommons.org/licenses/MIT/
*/
-->
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>jQuery File Upload Example</title>
  </head>
  <body>
    <div id="recommend">
      <form action="/Recommend" method="POST" enctype="multipart/form-data">
        <div>
          <input type="text" name="Profile_Id"><br>
          <input type="text" name="Device_Id"><br>
          <input type="file" name="Image">
          <button type="submit" class="start">Start upload</button>
        </div>
      </form>
    </div>
  </body>
</html>
