<!DOCTYPE HTML>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <div id="recommend">
      <form action="/Recommend" method="POST" enctype="multipart/form-data">
        <div>
          <input type="text" name="Profile_Id"><br>
          <input type="text" name="Device_Id"><br>
          <input type="file" name="Image">
          <button type="submit" class="start">Start upload</button>
        </div>
      </form>
    </div>
  </body>
</html>


