#dropbox {
  width: 480px;
  height: 320px;
  border: 5px dashed gray;
  float: left
}

#preview {
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 320px;
}

#player {
  float: left;
  margin-left: 5px;
}
